<% if cannot? :create , Topic %>
  <span class="permission-message">You aren't allowed to create new topic.</span>
<% else %>

	<h1>New Topic</h1>

	<%= render 'form' %>

	<%= link_to 'Back', topics_path %>
<% end %>
